/* src/styles/MainLayout.css */

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  transition: margin-left 0.3s ease; /* Smooth transition for layout shift */
}

.main-content.sidebar-open {
  margin-left: 250px; /* Adjust to the sidebar width when open */
}

.main-content.sidebar-closed {
  margin-left: 0; /* No margin when the sidebar is closed */
}

.main-content .content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
}
