.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  height: 40px;
  margin-left: 10px; /* Space between button and logo */
}

button.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
}

button.logout-button svg {
  margin-right: 5px;
}
