.navbar {
  background: #ffffff; /* Background color */
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between; /* Ensures space between logo and button */
  align-items: center;
  height: 40px; /* Height of the navbar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth effect */
  z-index: 101;
}

.navbar button {
  background-color: #d8891a;
  border: none;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
  display: flex;
  align-items: center;
}

.navbar button i {
  margin-right: 1rem; /* Space between icon and text */
  font-size: 1rem;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 40px;
  margin-right: 1rem; /* Optional: Add some margin to the right of the logo */
}
