.animated-button {
  top: 20px;
  left: 96%;
  background: #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  color: white;
  font-size: 32px;
}

.custom-popover .MuiPaper-root {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.custom-popover .MuiPaper-root:hover {
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
}

.popover-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.popover-item {
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.popover-item:hover {
  background-color: #007bff;
  color: #ffffff;
}

.tickets-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #ffffff;
  margin-top: 60px;
  border-radius: 15px;
  min-height: 100px; /* Define a altura mínima */
  max-height: 80vh; /* Define a altura máxima */
  overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a altura */
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.ticket-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Make sure the cards take the full width of the list */
}

.tickets-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 15px 15px 0 0;
}

.tickets-header > * {
  flex: 1;
  text-align: center;
  font-weight: bold;
  color: #333;
  font-size: 12px; /* Tamanho do texto menor */
}

.ticket-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
  cursor: pointer; /* Adiciona cursor de ponteiro */
}

.ticket-row:hover {
  background-color: #f0f0f0; /* Muda o fundo ao passar o cursor */
}

.ticket-column {
  flex: 1;
  text-align: center;
  font-size: 12px;
  color: #333;
}
