.tickets {
  padding: 20px;
}

.animated-button {
  font-size: 16px;
  font-weight: bold;
}

.custom-popover .MuiPaper-root {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.custom-popover .MuiPaper-root:hover {
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.15);
}

.popover-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.popover-item {
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.popover-item:hover {
  background-color: #6200ea;
  color: #ffffff;
}

.tickets-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Make sure the list takes the full width */
}

.ticket-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Make sure the cards take the full width of the list */
}
